@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color:gray;
  margin: 2rem 10rem;
}

.navbar-container{
  display:flex;
  flex-direction:row ;
  justify-content: space-between;
}

.navbar-items{
    display: flex;
    flex-direction: row;

  .navbar-cart{
    display: flex;
    flex-direction: row;
  }

  li{
    padding: 0 1rem;
  }
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  margin-top: 15rem;

  h1{
    font-size: 3rem;
  }

  .header-words{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
  }

  .header-btn{
    background-color: #11C353;
    color: #ffffff;
    width: 30%;
    padding: 0.7rem;
    border-radius:20px;
    margin-top: 1rem;
  }

  .header-btn:hover{
    background-color: #0FAF4A;
    color: #F2F3F5;
  }
}

