@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

.small {
  font-size: 0.875rem;
}

.container {
  max-width: 1170px;
  @apply px-4 mx-auto;
}

@layer base {
  a {
    @apply text-inherit no-underline;
  }

  a:hover {
    @apply text-highlight;
  }
}
